*.csv
*.pem
*.shp
*.dbf
*.prj
*.qix
*.qml
*.qpj
*.shx
*.xlsx
English_IMD_2019/
GB_Postcodes/
*.sql
*.pyc
*.DS_Store
*.gpkg
district_groupby_socio_economic.gpkg
district_groupby_socio_economic.gpkg
socio_economic_postcode.gpkg
*.gitgnore